<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306313957592-fdr6j96q62gj2vlj2uvsjtckla4fiui9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306313957592-fdr6j96q62gj2vlj2uvsjtckla4fiui9</string>
	<key>API_KEY</key>
	<string>AIzaSyA6GbzXc16HKzczSgRAZgx8SQoyA3lyCws</string>
	<key>GCM_SENDER_ID</key>
	<string>306313957592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prTest1</string>
	<key>PROJECT_ID</key>
	<string>prts-635dc</string>
	<key>STORAGE_BUCKET</key>
	<string>prts-635dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306313957592:ios:2a27692c656fd36d9607ad</string>
</dict>
</plist>